<!doctype html>
<html>
  <%= partial "partials/head" %>
  <body>

    <main id="main" role="main">
    <%= partial "partials/header" %>


      <%= yield %>

    <%= partial "partials/footer" %>
    </main>

  	<%= partial "partials/scripts" %>
  </body>
</html>


