<footer>
  <div class="container">
    <nav class="footer-nav gamma">
      <ul>
	      <li><%= link_to '<i class="icon-twitter"></i>', 'http://twitter.com/jpcostallos' %></li>
	      <li><%= link_to '<i class="icon-github"></i>', 'http://github.com/jpcostallos' %></li>
	      <li><%= link_to '<i class="icon-envelope"></i>', 'mailto:web@jpcostallos.com' %></li>
	  </ul>
    </nav>  
    <h3>JP Costallos</h3>
    <p>This website is created, written, and maintained by JP Costallos. It is built using <%= link_to 'Middleman', 'https://middlemanapp.com/', target: '_blank' %>, the <%= link_to 'Bourbon', 'http://bourbon.io/', target: '_blank' %> mixin Library for Sass, and the <%= link_to 'Neat', 'http://neat.bourbon.io/', target: '_blank' %> grid framework. It is hosted by <%= link_to 'Digital Ocean', 'https://www.digitalocean.com/', target: '_blank' %>. The fonts are Open Sans and Source Code Pro, and are available through <%= link_to 'Google Web Fonts', 'https://www.google.com/fonts', target: '_blank' %>. Thank you for visiting.</p>    
  </div>
</footer>